@import "variables";
@import "mixins";
@import "./components/supplierlist";

/* Simple reset. */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: $fontSizeBase;
  color: $textColorBase;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
}

#view-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: white;
  min-width: 1024px;
}

#configsidebar-container {
  background-color: $color-primary-4;
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

#leftsidebar-container {
  background-color: $color-primary-3;
  color: $textColorInvertedMuted;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: $spacingTight;
}

#content-container {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  #topcontent-container {
    background-color: $color-ghost-3;
    height: 50vh;
  }
  #bottomcontent-container {
    background-color: $color-ghost-1;
    height: 50vh;
  }
}

#rightsidebar-container {
  background-color: $color-secondary-2-1;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}
